

.rejam {
    max-width: 750px;
}

.rejam-prompt {
    width: auto;
}

.Form {
    min-width: 500px;
    max-width: 750px;
    margin: auto;
}
.col {
    text-align: end;
    margin: auto 0;
}
.form-label-container {
    width: 66%;
    text-align: end;
    margin: auto 0;
}
.form-label {
    margin: auto 0;
}
.form-control-container {
    margin: auto 0;
}
.form-control {
    width: 120px;
}
.form-slider-container {
    margin: auto 0;
    padding-left: 30px;
}
.form-slider {
    margin: auto 0;
}

.button-container {
    margin: auto 0;
}
.button {
    margin: auto 0;
}
.button-text {
    margin: auto 0;
    padding-left: 10px;
}

.results {
    max-width: 400px;
    margin: 0 auto;
}
.results-label {
    width: 120px;
}

.results-value {
    width: 120px;
}
/* 
.slider-horizontal {
    .rangeslider-horizontal,
    .rangeslider__fill,
    .rangeslider__handle {
      border-radius: 0;
    }
    .rangeslider-horizontal {
      height: 10px;
    }
    .rangeslider__fill {
      background-color: #1E88E5;
    }
    .rangeslider__handle {
      width: 10px;
      height: 30px;
    }
  } */

.rangeslider-horizontal {
    height: 15px !important;
}
.rangeslider-horizontal .rangeslider__fill {
    border-radius: 0 !important;
    background-color: #1E88E5 !important;
}

.rangeslider-horizontal .rangeslider__handle {
    border-radius: 0 !important;
    width: 15px !important;
    height: 30px !important;
}
.rangeslider-horizontal .rangeslider__handle::after {
    content: none !important;
}